PORT=5000
NODE_ENV=development


DATABASE_URL=yourDatabaseUrl

# seed super admin
SEED_SUPER_ADMIN_NAME=Super Admin
SEED_SUPER_ADMIN_EMAIL=superadmin@courstack.com
SEED_SUPER_ADMIN_PASSWORD=SuperSecret123!

# jwt
JWT_ACCESS_SECRET=JWT_ACCESS_SECRET
JWT_ACCESS_EXPIRE_IN=1d


JWT_REFRESH_SECRET=JWT_REFRESH_SECRET
JWT_REFRESH_EXPIRE_IN=7d

# redis
REDIS_PASS=yourRedisKey
REDIS_HOST=yourRedisHost
REDIS_PORT=yourRedisPort


# cloudinary
CLOUD_NAME=YOUR_CLOUD_NAME
CLOUD_API_KEY=YOUR_CLOUD_API_KEY
CLOUD_API_SECRET=YOUR_CLOUD_API_SECRET


# ssl
SSLC_STORE_ID=YOUR_SSLC_STORE_ID
SSLC_STORE_PASSWORD=YOUR_SSLC_STORE_PASSWORD
SSLC_BASE_URL=YOUR_SSLC_BASE_URL


BACKEND_URL=https://courstack-backend.vercel.app
# BACKEND_URL=http://localhost:3000
FRONTEND_URL=http://localhost:5000



# nodemailer
APP_PASS=Your_APP_PASS
APP_USER=Your_APP_USER


SYSTEM_SECURITY_EMAIL=no-reply@coursestack.com
SYSTEM_INFO_EMAIL=info@courstack.com


# cron job 
CRON_SECRET=CRON_SECRET